/*KEYFRAMES*/
@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  99% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }

  100% {
    opacity: 1;
  }
}

/**/
* {
  transition: all ease .2s;
}

/*DIALOG*/
dialog #no:hover,
dialog #yes:hover {
  transform: scale(1.05);
}

dialog #yes:hover {
  border: .2rem solid var(--dark-blue);
  background-color: var(--selective-yellow);
  color: var(--dark-blue);
}

/*HEADER*/
.menu-btn:hover,
.cart-btn:hover {
  transform: scale(1.1);
}

/*MENU*/
.navbar a:hover {
  color: var(--selective-yellow);
  transform: scale(1.2) translateY(-.25rem);
}

/*CART*/
.cart .cart-item:hover {
  transform: scale(1.05) translateY(-.25rem);
}

.cart .clear-btn:hover {
  color: var(--selective-yellow);
  border-color: var(--selective-yellow);
  transform: scale(1.05) translateY(-.25rem);
}

.cart .buy-btn:hover {
  background-color: var(--selective-yellow);
  transform: scale(1.05) translateY(-.25rem);
}

.cart .product-quantity-btn:hover,
.cart .back-btn:hover {
  background-color: var(--mid-blue);
}

.cart .--disabled:hover {
  cursor: not-allowed;
  border: 0;
  background-color: var(--mid-blue);
  color: var(--dark-blue);
  transform: scale(1) translateY(0);
}

/*HERO*/

.hero-image .logo {
  animation: jackInTheBox 1.2s ease forwards;
}

.hero-description {
  opacity: 0;
  animation: zoomInUp .8s ease forwards;
  animation-delay: .5s;
}

.swipe {
  opacity: 0;
  animation: zoomInUp .8s ease forwards;
  animation-delay: 1s;
}

/*PRODUCTS*/
.product .add-btn:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.product .product-quantity-btn:hover {
  transform: translateY(-.25rem);
}

/*CONTACT*/
form input:hover,
form textarea:hover {
  border-bottom: .3rem solid var(--selective-yellow);
}

form button:hover,
form a:hover,
.footer-social li i:hover {
  transform: scale(1.05) translateY(-.25rem);
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.75);
}

/*FOOTER*/
.footer-social li i:hover {
  cursor: pointer;
  background-color: white;
  padding: .5rem;
  border-radius: .3rem;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(114, 179, 232, .5);
  -moz-box-shadow: 0px 6px 15px 0px rgba(114, 179, 232, .5);
  box-shadow: 0px 6px 15px 0px rgba(114, 179, 232, .5);
}

.fa-square-facebook:hover {
  color: #3b5998;

}

.fa-square-twitter:hover {
  color: #00acee;
}

.fa-square-instagram:hover {
  color: #E1306C;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.fa-square-whatsapp:hover {
  color: #25D366;
}